<p id="notice"><%= notice %></p>

<h1> <%t('articles.title') %>一覧</h1>

<table>
  <thead>
    <tr>
      <th> <%=t('articles.title')%> </th>
      <th> <%=t('articles.content')%> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to t('articles.show'), article %></td>
        <td><%= link_to t('articles.edit'), edit_article_path(article) %></td>
        <td><%= button_to t('articles.destroy'), article, method: :delete,data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('articles.new_article'), new_article_path %>
