<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('articles.title') %>:</strong>
  <%= @article.title %>
</p>

<p>
  <strong><%=t('articles.content') %>:</strong>
  <%= @article.content %>
</p>

<%= link_to t('articles.edit'), edit_article_path(@article) %> |
<%= link_to t('articles.back'), articles_path %>
